* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

body {
    background-color: lightblue;
}
/******* MAIN *******/
.container {
    width: 80%;
    height: 80vh;
    margin: 0 auto;   
}

.row {
    margin: 80px auto 0;
    width: 70%;
    height: 700px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    width: 100%;
    height: 700px;
}
 /* uper slide  */
.card-img {
    position: relative;
    display: none;
    width: 100%;
    height: 550px;
}


.img-text {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end ;
    color: white;
}

  /* lower slide  */
.lower-slide {
    position: relative;
    display: flex;
    height: 150px;
    object-fit: cover;
}
.lower-slide img {
    opacity: 0.4;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(110, 110, 110);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgb(165, 165, 165);
}

.left {
    top: 50%;
    left: 15px;
    transform: translatey(-50%);
}

.right {
    top: 50%;
    right: 15px;
    transform: translatey(-50%);
}

.img-col {
    width: calc(100% / 5);
    background-color: black;
}

.img-col.active {
    border: 3px solid rgb(197, 197, 197);
}

.img-col.active img {
    opacity: 1;
}

.img-col:hover img {
    opacity: 1;
}

.active {
    display: flex!important;
}

/* under buttons */

.act-button {
    display: flex;
    justify-content: center;
    margin-top:10px;
    gap: 20px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    background-color: rgb(197, 197, 197);
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 30px;
}

.btn1:hover {
   transform: translate(1px, 1px);
}
